@model IEnumerable<InstituteOfFineArts.Models.Award>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white pt-20 pb-20">
                    Our Award Gallery
                </h1>
                <p class="text-white link-nav"><a href="/Home/Index">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="#">Our Award Gallery</a></p>
            </div>
        </div>
    </div>
</section>

<section class="gallery-area section-gap gallery-page-area" id="gallery">
    <div class="container">
        <div id="grid-container" class="row">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("Details", "Submission", new {id = item.SubmissionId})">
                    <div><img class="grid-item" src="@Url.Content(item.Submission.Picture)"></div>
                </a>

            }
        </div>
    </div>
</section>
