@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Index","Manage",routeValues: null)"><img class="logo-user" src="@Url.Content("~/Content/img/logologin.png")" /></a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><img class="logo-user" src="https://pngimage.net/wp-content/uploads/2018/06/logout-icon-png-black-4.png"/></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
