@using InstituteOfFineArts.Models
@model IEnumerable<InstituteOfFineArts.Models.Submission>


@using (Html.BeginForm("ListSubmission", "Submission", FormMethod.Get))
{
    @Html.AntiForgeryToken()
   
        <div class="container">

            <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Submission</h1>

            <hr class="mt-2 mb-5">

            <div class="row text-center text-lg-left">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="@Url.Action("Details","Submission",new {id = item.SubmissionId})" class="d-block mb-4 h-100">
                            <img class="thumbnail-img" src="@item.Picture" alt="">
                        </a>
                    </div>
                }
                <div><a href="@Url.Action("List","Submission", new{id= Model.First().CompetitionId})"><img class="show-more" src="https://www.darkironfitness.com/wp-content/uploads/2017/08/view-more-button-copy.png" /></a></div>

            </div>
            
        </div>
        <!-- /.container -->
}