
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("SlideBar")
@*<section class="container" style="padding: 50px 0">
    <div id="secondary" class="widget-area col-sm-12 col-lg-4" role="complementary">
        <aside id="search-2" class="widget widget_search">
            <form method="get" class="form-search" action="#">
                <div class="form-group">
                    <div class="input-group">
                        <span class="screen-reader-text"></span>
                        <input id="search" style="width: 40%; height: 6%; font-size: 16px" type="text" class="form-control search-query" placeholder="Search..." value="" name="s">
<section class="container" style="padding: 50px 0">
    <div id="secondary" class="widget-area col-sm-12 col-lg-4" role="complementary">
        <aside id="search-2" class="widget widget_search">
            <form method="get" class="form-search" action="https://colorlib.com/dazzling/">
                <div class="form-group">
                    <div class="input-group">
                        <span class="screen-reader-text"></span>
                        <input style="width: 550px; height: 50px; font-size: 18px" type="text" class="form-control search-query" placeholder="Search..." value="" name="s">
                        <span class="input-group-btn">
                            <button style="height:100%; width: 60px" type="submit" class="btn btn-default" name="submit" id="searchsubmit" value="Search"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>
        </aside>
    </div>
</section>*@
@Html.Action("ListCompetition", "Home")
<section class="service-area" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-service">
                    <span class="lnr lnr-clock"></span>
                    <h4>Openning Hours</h4>
                    <p>
                        Mon - Fri: 10.00am to 05.00pm
                        Sat: 12.00pm to 03.00 pm
                        Sunday Closed
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <span class="lnr lnr-rocket"></span>
                    <h4>Ongoing Exhibitions</h4>
                    <p>
                        Mon - Fri: 10.00am to 05.00pm
                        Sat: 12.00pm to 03.00 pm
                        Sunday Closed
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <span class="lnr lnr-briefcase"></span>
                    <h4>Openning Events</h4>
                    <p>
                        Mon - Fri: 10.00am to 05.00pm
                        Sat: 12.00pm to 03.00 pm
                        Sunday Closed
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
</section>
@Html.Action("NewSubmission")
<section class="gallery-area section-gap" id="gallery">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Our Exhibition Gallery</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div id="grid-container" class="row">
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g2.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g2.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g3.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g3.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g4.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g4.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g5.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g5.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g6.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g6.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g7.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g7.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g8.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g8.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g9.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g9.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g10.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g10.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g11.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g11.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g12.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g12.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g4.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g4.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g5.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g5.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item" src="~/Content/Homepage/img/g1.jpg"></a>
        </div>
    </div>
</section>



















