
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("SlideBar");

@Html.Action("ListCompetition", "Home");
<section class="service-area" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-service">
                    <span class="lnr lnr-clock"></span>
                    <h4>Openning Hours</h4>
                    <p>
                        Mon - Fri: 10.00am to 05.00pm
                        Sat: 12.00pm to 03.00 pm
                        Sunday Closed
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <span class="lnr lnr-rocket"></span>
                    <h4>Ongoing Exhibitions</h4>
                    <p>
                        Mon - Fri: 10.00am to 05.00pm
                        Sat: 12.00pm to 03.00 pm
                        Sunday Closed
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <span class="lnr lnr-briefcase"></span>
                    <h4>Openning Events</h4>
                    <p>
                        Mon - Fri: 10.00am to 05.00pm
                        Sat: 12.00pm to 03.00 pm
                        Sunday Closed
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
</section>
@*<section class="quote-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 quote-left">
                    <h1>
                        <span>Art</span> gives soul to the universe, <br>
                        wings to the <span>mind</span>, flight <br>
                        to the <span>imagination</span>.
                    </h1>
                </div>
                <div class="col-lg-6 quote-right">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
    </section>*@
@Html.Action("NewSubmission");
<section class="gallery-area section-gap" id="gallery">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Our Exhibition Gallery</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div id="grid-container" class="row">
            <a class="single-gallery" href="~/Content/Homepage/img/g1.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g1.jpg" data-index="0" style="padding: 15px; height: 108.347px; width: 156.019px; opacity: 1;"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g2.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g2.jpg" data-index="1" style="padding: 15px; height: 108.347px; width: 113.981px; opacity: 1;"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g3.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g3.jpg" data-index="2" style="padding: 15px; height: 114.02px; width: 75.2534px; opacity: 1;"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g4.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g4.jpg" data-index="3" style="padding: 15px; height: 114.02px; width: 119.493px; opacity: 1;"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g5.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g5.jpg" data-index="4" style="padding: 15px; height: 114.02px; width: 75.2534px; opacity: 1;"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g6.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g6.jpg" data-index="5" style="padding: 15px; height: 128.327px; width: 135px; opacity: 1;"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g7.jpg">
                <img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g7.jpg" data-index="6" style="        padding: 15px;
        height: 128.327px;
        width: 135px;
        opacity: 1;">
            </a>
            <a class="single-gallery" href="~/Content/Homepage/img/g8.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g8.jpg" data-index="7" style="padding: 15px; height: 108.347px; width: 156.019px; opacity: 1;"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g9.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g9.jpg" data-index="8" style="padding: 15px; height: 108.347px; width: 113.981px; opacity: 1;"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g10.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g10.jpg" data-index="9" style="padding: 15px; height: 108.521px; width: 113.73px; opacity: 1;"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g11.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g11.jpg" data-index="10" style="padding: 15px; height: 108.521px; width: 156.27px; opacity: 1;"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g12.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g12.jpg" data-index="11" style="padding: 15px; height: 114.02px; width: 75.2534px; opacity: 1;"></a>
            <a class="single-gallery" href="~/Content/Homepage/img/g4.jpg">
                <img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g4.jpg" data-index="12" style="        padding: 15px;
        height: 114.02px;
        width: 119.493px;
        opacity: 1;">
            </a>
            <a class="single-gallery" href="~/Content/Homepage/img/g5.jpg"><img class="grid-item hgrid-item loaded resized" src="~/Content/Homepage/img/g5.jpg" data-index="13" style="padding: 15px; height: 114.02px; width: 75.2534px; opacity: 1;"></a>
        </div>
    </div>
</section>



















